<div class="row sumPower">



    <div class="col-md-4 col-xs-12 placeholders">
        <div transition-Ms="10000" needle-Value-Text-Size="22" major-Graduation-Text-Size="10" precision="0" needle-Color="#c97156" major-Graduation-Text-Color="#fff" major-graduations="6" minor-Graduations="4" minor-graduation-color="#a0a0a0" major-graduation-color="#fff" major-graduation-precision="0" ng-radial-gauge ranges="ranges" value="gaugeValue" value-unit=" unit " precision="precision " lower-limit="lowerLimit " upper-limit="upperLimit "></div>
    </div>




    <div class="col-md-4 col-xs-12">

        <div class="col-xs-12 listParamsPower">
            <div>Social norma for our family: {{ socialNormOurFamily }} kW</div>
            <div>Social norma: {{ tarifPowerSocNorm }} Rub/rW</div>
            <div>Over social norma: {{ tarifPowerOverSocNorm }} Rub/kW</div>
        </div>
        <div class="col-xs-12">
            <h2>Per month:</h2>
        </div>
        <div class="col-xs-12">
            <h2 class="perKwRub">{{ perMonthPower }} kW / {{ perMonthRub }} Rub</h2>
        </div>
    </div>



    <div class="col-md-4 col-xs-12 placeholders">
        <nvd3 options="options" data="chartForPlanConsumpsionPerMonth"></nvd3>
    </div>
</div>

<div class="row placeholders graphPower ">
    <div class="col-xs-12 placeholder ">
        <linechart data="dataPower" options="optionsPowerLine" height="300" class="my-awesome-chart"></linechart>
        <div class="buttonsIntervalEnergy">
            <button type="button" class="btnChartPower" ng-click="setInterv(0.16)">10 minutes</button>
            <button type="button" class="btnChartPower" ng-click="setInterv(0.5)">30 minutes</button>
            <button type="button" class="btnChartPower" ng-click="setInterv(1)">1 hour</button>
            <button type="button" class="btnChartPower" ng-click="setInterv(6)">6 hour</button>
            <button type="button" class="btnChartPower" ng-click="setInterv(24)">24 hour</button>
        </div>
    </div>
</div>
