<div class="row sumPower">
    <div class="col-md-4 col-xs-12">

    </div>
    <div class="col-md-4 col-xs-12">

    </div>
    <div class="col-md-4 col-xs-12">
        <div ng-repeat="warn in warns">
            {{ warn.service }} | {{ warn.svcSendMethod }} | {{ warn.svcValue }} - {{ warn.svcCost }} Rub | {{ warn.updateTime | date: 'medium'}}
        </div>
    </div>
</div>
