<div class="jumbotron myJumbo">
    <div class="container">
        <h1>ШАГ 3</h1>
        <p>Результаты расчёта</p>
<!--        <p>Исходные данные: ...</p>-->
    </div>
</div>



<div class="result">
    <!--        <div class="col2-md-12">-->
    <table class="table table-striped">
        <thead>
            <tr class="header">
                <th class="header" style="width:80px;">Вид рынка</th>
                <th class="header">Объемы, млн. кВтч</th>
                <th class="header">Прямая цена покупки, руб./МВтч</th>
                <th class="header">Стоимость покупки, тыс.руб.</th>
                <th class="header">Услуги по передаче, руб./МВтч</th>
                <th class="header">Стоимость услуг по передаче, тыс.руб.</th>
                <th class="header">Сбытовая надбавка ГП, руб./МВтч</th>
                <th class="header">Стоимость сбытовой надбавки ГП, тыс.руб.</th>
                <th class="header">Прочие услуги, руб./МВтч</th>
                <th class="header">Стоимость прочих услуг, тыс.руб.</th>
                <th class="header">Нерег.цена покупки ИТОГО, руб./МВтч</th>
                <th class="header">Стоимость покупки э/э ИТОГО, тыс.руб.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in result">
                <th scope="row">{{object.nameObject}}</th>
                <td>{{object.B4}}</td>
                <td>{{object.C4}}</td>
                <td>{{object.D4}}</td>
                <td>{{object.E4}}</td>
                <td>{{object.F4}}</td>
                <td>{{object.G4}}</td>
                <td>{{object.H4}}</td>
                <td>{{object.I4}}</td>
                <td>{{object.J4}}</td>
                <td>{{object.K4}}</td>
                <td>{{object.L4}}</td>
            </tr>
        </tbody>
    </table>
    <!--        </div>-->
</div>


<div class="result">
    <!--        <div class="col2-md-12">-->
    <table class="table table-striped">
        <thead>
            <tr class="header">
                <th class="header" style="width:80px;">Вид рынка</th>
                <th class="header">Объемы, МВт</th>
                <th class="header">Прямая цена покупки, руб./МВтч</th>
                <th class="header">Стоимость покупки, тыс.руб.</th>
                <th class="header">Сбытовая надбавка ГП, руб./МВт</th>
                <th class="header">Стоимость сбытовой надбавки ГП, тыс.руб.</th>
                <th class="header">Нерег.цена покупки ИТОГО, руб./МВт</th>
                <th class="header">Стоимость покупки э/м ИТОГО, тыс.руб.</th>
                <th class="header">Прямая цена покупки, руб./МВт</th>
                <th class="header">Стоимость покупки мощности по передаче ИТОГО, тыс.руб.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in result">
                <th scope="row">{{object.nameObject}}</th>
                <td>{{object.M4}}</td>
                <td>{{object.N4}}</td>
                <td>{{object.O4}}</td>
                <td>{{object.P4}}</td>
                <td>{{object.Q4}}</td>
                <td>{{object.R4}}</td>
                <td>{{object.S4}}</td>
                <td>{{object.U4}}</td>
                <td>{{object.V4}}</td>
            </tr>
        </tbody>
    </table>
    <!--        </div>-->
</div>





<div class="result">
    <!--        <div class="col2-md-12">-->
    <table class="table table-striped">
        <thead>
            <tr class="header">
                <th class="header" style="width:80px;">Вид рынка</th>
                <th class="header">Объемы, МВт</th>
                <th class="header">Одноставочная прямая цена покупки, руб./МВтч</th>
                <th class="header">Стоимость покупки, тыс.руб.</th>
                <th class="header">Одноставочный тариф на услуги по передаче, руб./МВтч</th>
                <th class="header">Стоимость услуг по передаче, тыс.руб.</th>
                <th class="header">Сбытовая надбавка ГП, руб./МВтч</th>
                <th class="header">Стоимость сбытовой надбавки ГП, тыс.руб.</th>
                <th class="header">Прочие услуги, руб./МВтч</th>
                <th class="header">Стоимость прочих услуг, тыс.руб.</th>
                <th class="header">Одноставочная цена покупки, руб./МВтч</th>
                <th class="header">Общая стоимость покупки, тыс.руб.</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in result">
                <th scope="row">{{object.nameObject}}</th>
                <td>{{object.W}}</td>
                <td>{{object.X}}</td>
                <td>{{object.Y}}</td>
                <td>{{object.Z}}</td>
                <td>{{object.AA}}</td>
                <td>{{object.AB}}</td>
                <td>{{object.AC}}</td>
                <td>{{object.AD}}</td>
                <td>{{object.AE}}</td>
                <td>{{object.AF}}</td>
                <td>{{object.AG}}</td>
            </tr>
        </tbody>
    </table>
    <!--        </div>-->
</div>
<div class="container">

    <div class="row">
        <div class="col-md-6">

        </div>


        <div class="col-md-3">

        </div>

        <div class="col-md-3">
<!--            <p><a class="btn btn-primary btn-lg" href="#print" role="button">Печать отчета &raquo;</a></p>-->
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Дипломный проект, Шороховой Валерии Дмитриевны.</p>
    </footer>
</div>
