<style>
    .mySelect {
        width: 100%;
        font-size: larger;
    }

    .date {
        font-size: large;
    }
</style>

<div class="jumbotron myJumbo">
    <div class="container">
        <h1>ШАГ 1</h1>
        <p>Заполните поля для перехода к списку обществ по определенному договору</p>
    </div>
</div>


<div class="container">
    <!-- Example row of columns -->
    <div class="row" style="padding-bottom:30px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <h2>1 - Регион</h2>
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="btn btn-default btn-md dropdown-toggle mySelect" ng-model="selectRegion" ng-options="region.nameRegion for region in regions" ng-change="changeRegion()">
                        <option value="">Выберите регион</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>



      <div class="row" style="padding-bottom:30px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <h2>2 - Общество</h2>
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="btn btn-default btn-md dropdown-toggle mySelect" ng-model="selectCompany" ng-options="company.nameCompany for company in companies" ng-change="changeCompany()">
                        <option value="">Выберите общество</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

        </div>


        <div class="col-md-4">

        </div>


        <div class="col-md-2">
            <p><a class="btn btn-primary btn-lg" href="#step2" role="button">Следующий шаг &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Дипломный проект, Шороховой Валерии Дмитриевны.</p>
    </footer>
</div>
<!-- /container -->
