<style>
    .mySelect {
        width: 100%;
        font-size: larger;
    }

    .date {
        font-size: large;
    }
</style>

<div class="jumbotron myJumbo">
    <div class="container">
        <h1>ШАГ 2</h1>
        <p>Список объектов подчинённых выбранному договору</p>
<!--        <p>Период для расчета:  {{forCalculate.periodMonth}}.{{forCalculate.periodYear}}</p>-->
    </div>
</div>


<div class="container">
          <div class="row" style="padding-bottom:30px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <h2>3 - Контрагент</h2>
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="btn btn-default btn-md dropdown-toggle mySelect" ng-model="selectContractors" ng-options="contractor.nameContractor for contractor in contractors" ng-change="changeContractors()">
                        <option value="">Выберите контрагента</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>



       <div class="row" style="padding-bottom:30px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <h2>4 - Договор</h2>
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="btn btn-default btn-md dropdown-toggle mySelect" ng-model="selectContract" ng-change="changeContract()" ng-options="contract.nameContract for contract in contracts">
                        <option value="">Выберите договор</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>



    <div class="row">
          <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <h2>5 - Выберите период расчёта</h2>
        </div>
           <div class="col-md-5">
        </div>
    </div>

    <div class="row" style="padding-bottom:30px;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <span class="date">Год</span>
            <select class="btn btn-default btn-md dropdown-toggle mySelect" ng-model="forCalculate.periodYear" id="periodYear">
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
            </select>
        </div>
        <div class="col-md-4">
            <span class="date">Месяц</span>
            <select class="btn btn-default btn-md dropdown-toggle mySelect" ng-model="forCalculate.periodMonth" id="periodMonth" ng-change="changePeriod()" >
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
            </select>
        </div>
        <div class="col-md-5">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
<!--                        <th>id</th>-->
                        <th>Объект</th>
                        <th>Тариф</th>
                        <th>Напряжение</th>
                        <th>Диапазон мощности</th>
                        <th>Договор</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat = "object in forCalculate.objects | filter:selectContract.nameContract">
<!--                        <th scope="row">{{ object.id }}</th>-->
                        <th scope="row">{{ object.nameObject }}</th>
<!--                        <td>{{ object.nameObject }}</td>-->
                        <td>{{ object.tarif }} ставочный</td>
                        <td>{{ object.voltage }}</td>
                        <td>{{ object.priceCategory }}</td>
                        <td>{{ object.nameContract }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">

        </div>


        <div class="col-md-3">

        </div>


        <div class="col-md-3">
            <p><a class="btn btn-primary btn-lg" href="#step2" role="button" ng-click="calc()">Рассчитать &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Дипломный проект, Шороховой Валерии Дмитриевны.</p>
    </footer>
</div>
