<div class="row today">
    <div class="col-md-7 col-xs-12">

        <div class="whCurImg"><img ng-src="img/iconWeather/{{currentWeather.weather[0].icon}}.png" width="300px" style="float: left; margin: 0 35px 0 0;" /></div>
        <div class="wthTemperature" ng-controller='TempCtrl'>{{ temp | number: 0 }}°</div>
    </div>
    <div class="col-md-5 col-xs-12" style="padding-top: 30px;">
        <div class="grpForecastByDay">
            <div class="wthForecast" ng-repeat="fDayHour in ForecastCurrentDay">
                <div ng-show="fDayHour.dt_txt.substring(8,10) == curDay.getDate()">
                    <div class="whTSval">
                        <div class="wsT">{{fDayHour.dt *1000 | date: 'shortTime'}}</div>
                        <div class="wsT"><img ng-src="img/iconWeather/{{fDayHour.weather[0].icon}}.png" width="40px" /></div>
                        <div class="wsT wsTHour">{{fDayHour.main.temp | number: 0}}°</div>
                    </div>
                </div>
            </div>
        </div>

        <!--
    <div class="whParamDay">{{currentWeather.weather[0].description}}</div>
    <div class="whParamDay"><span class="paramWether" style="color:#393939;">Rain</span><span>{{currentWeather.rain}}</span></div>
    <div class="whParamDay"><span class="paramWether">Clouds</span><span>{{currentWeather.clouds.all}}%</span></div>
    <div class="whParamDay"><span class="paramWether">Humidity</span><span>{{currentWeather.main.humidity}}%</span></div>
    <div class="whParamDay"><span class="paramWether">Wind speed</span><span>{{currentWeather.wind.speed | number: 2}} km/h</span></div>
-->
    </div>

    <div class="col-xs-12 whCityCaption">
        <!--    <div ng-show="city" class="whCityCaption">Weather in {{currentWeather.name}}, {{currentWeather.sys.country}}</div>-->
    </div>
</div>




<!--for big device-->
<div class="col-md-2 hidden-xs whItem" ng-repeat="day in forecastWeather">
    <div class="oneDay">
        <div class="whDayOfWeek">{{day.dt *1000 | date: 'EEEE'}}</div>
        <div class="whDate">{{day.dt *1000 | date: 'M/d/yy' }}</div>
        <div class="whImg"><img ng-src="img/iconWeather/{{day.weather[0].icon}}.png" width="120px" /></div>

        <div class="whDate">{{day.weather[0].description}}</div>
        <div class="whTempDayHour"><strong>{{day.temp.day | number: 0}}</strong>°C</div>
        <div class="whDate">{{day.speed | number: 2}} km/h</div>
    </div>
</div>



<!--For small device-->
<!--
<div class="col-xs-6 hidden-md" ng-repeat-end ng-show="city" ng-if="!first">
    <div class="whDayOfWeek">{{day.dt *1000 | date: 'EEEE'}}</div>
    <div class="whDate">{{day.dt *1000 | date: 'M/d/yy' }}</div>
    <br>{{day.weather[0].main}}
    <br> {{day.weather[0].description}}
    <span><br>{{day.temp.day | number: 0}}°C</span>
    <br>{{day.humidity}}%
    <span><br>{{day.speed | number: 2}} km/h</span>
</div>-->
